<div id="svg-container" class="col">
    <svg id="svg" width="<%- width %>" height="<%- height %>" class="svg-border">
        <defs>
            <marker id="end-arrow" markerWidth="15" markerHeight="10" refX="12" refY="5" orient="auto">
                <polygon points="0 0, 15 5, 0 10" />
            </marker>
        </defs>
        <g class="zoomable">
            <!-- Your graph elements go here -->
        </g>
    </svg>
</div>