<!-- TODO: Add to each list -->
<div id="reltable-container" class="col-sm-2">
    <div class="row">


        <div class="card" id="relationcard" style="display: none;">
            <div class="card-body">
                <div id="reldescr">
                    <p class="text-muted">Hover over a field name <br> to highlight it in the diagram.</p>
                </div>
                <ul class="list-group list-group-flush" id="relationList">

                </ul>
            </div>
        </div>
    </div>
    <script>
                // Function to check the length of relationList and show/hide relationcard
                function updateRelationCardVisibility() {
                    var relationList = document.getElementById('relationList');
                    var relationCard = document.getElementById('relationcard');
                    if (relationList.children.length > 0) {
                        relationCard.style.display = 'block';
                    } else {
                        relationCard.style.display = 'none';
                    }
                }

                // Initial check
                updateRelationCardVisibility();

                // MutationObserver to watch for changes in relationList
                var observer = new MutationObserver(updateRelationCardVisibility);
                observer.observe(document.getElementById('relationList'), { childList: true });

    </script>


    <% if (instAsString) { %>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <button id="instButton" class="btn btn-outline-dark">View As Forge Instance</button>
                </div>
            </div>
        </div>
        <script>
            document.addEventListener('DOMContentLoaded', function () {
                var openInstBtn = document.getElementById('instButton');
                var sourceContent = <%- JSON.stringify(instAsString) %>;
                var sourceFileName = "<%= sourceFileName %>";
                var blob = new Blob([sourceContent], { type: 'text/plain' });
                var url = URL.createObjectURL(blob);

                if (openInstBtn) {
                    openInstBtn.addEventListener('click', function () {
                        window.open(url, '_blank');
                    });
                }
            });
        </script>
    <% } %>


    <% if (source_content && sourceFileName) { %>
    </hr>
    <div class="row" id="downloadSource" style="padding: 20px; position: absolute; bottom: 0">
            <h5> Alloy/Forge Source </h5>
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <button id="downloadButton" class="btn btn-outline-dark">Download</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <button id="openButton" class="btn btn-outline-dark">Open</button>
                    </div>
                </div>
            </div>
            <script>
                document.addEventListener('DOMContentLoaded', function () {
                    var downloadButton = document.getElementById('downloadButton');
                    var openButton = document.getElementById('openButton');
                    var sourceContent = <%- JSON.stringify(source_content) %>;
                    var sourceFileName = "<%= sourceFileName %>";
                    var blob = new Blob([sourceContent], { type: 'text/plain' });
                    var url = URL.createObjectURL(blob);

                    if (downloadButton) {
                        downloadButton.addEventListener('click', function () {
                            var a = document.createElement('a');
                            a.href = url;
                            a.download = sourceFileName;
                            document.body.appendChild(a);
                            a.click();
                            document.body.removeChild(a);
                            URL.revokeObjectURL(url);
                        });
                    }

                    if (openButton) {
                        openButton.addEventListener('click', function () {
                            window.open(url, '_blank');
                        });
                    }
                });
            </script>
            
    </div>
    <% } %>
</div>